<div class="Songs">
  <div class="row">
    <div class="col-8">
    </div>
    <div class="col-4">
      <%= button_to "Add Song", new_song_path, :class => "btn btn-primary float-right", :method => :get %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="SongList">
        <% @songs.each do |s| %>
          <li class="Song">
            <span><%= link_to(s.title, song_path(s.id)) %></span>
            <span>
              <%= link_to  edit_song_path(s.id), class: "btn btn-secondary " do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
