<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col">
    <div class="mdl-card__title">
      <%= @song.name %> - <%= @song.musician %>
    </div>
  </div>
</div>
