.SongList {
  list-style-type: none;
  margin: 15px auto;
}

.SongList li {
  border-bottom: 1px solid #ddd; 
}

.SongList li:hover {
  background-color: #eee;
  cursor: pointer;
}

.SongList li:last-child { 
  border-bottom: none; 
}

.SongList li a {
  padding: 15px;
  display: block;
}

.SongList li a:hover {
  text-decoration: none;
}

.bookmarksItem:hover {
  cursor: pointer
}
